body{
	margin: 0;
	padding: 0;
	background-color: #45004a;
	text-align: center;
	color: rgb(177, 218, 11);
}

.container{
	height: 80vh;
}

.container header h1{
	font-family: 'ZCOOL KuaiLe', cursive;
}

.container .row .content .pojemnik{
	width: 100px;
	height: 100px;
	border: 3px solid black;
}

.container .row .content .czerwony{
	position: absolute;
	top: 11vh;
	left: 12vw;
}

.container .row .content .zielony{
	position: absolute;
	top: 45%;
	left: 25vw;
}

.container .row .content .niebiezki{
	position: absolute;
	right: 25%;
	top: 25%;
}

.container .row .content .zulty{
	position: absolute;
	right: 20vh;
	bottom: 20vh;
}


.container .row .content .pojemnik .text{
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

span{
	font-size: 13px;
}
