body{
  background-color: #ccc;
  text-align: center;
}

.container h1{
  margin-top: 45px;
  display: inline-block;
}

.container h6{
  margin-top: 45px;
  display: inline-block;
}

.container .row{
  margin-top: 100px;
}


.container form{
  margin-top: 50px;
}

.container  label{
  width: 10vw;
}

.center:nth-child(1){
  margin-top: 50px;
}
