body{
  background-color: #ccc;
  text-align: center;
}

.container .row .box{
  border: 4px solid rgb(116, 153, 112);
  margin: 10px;
}

.container .row .box .text{
  border-top: 1px dashed black;
  width: 100%;
  padding: 20px;
}
