body{
  background-color: #ccc;
  text-align: center;
  color: #000;
  font-weight: 500;
  font-family: 'Monoton', cursive;
}

.container-fluid{
  background-color: #3cc90d;
  background-image: url(../img/doctorwho.jpg);
  width: 100vw;
  height: 100vh;
}

.container-fluid .row{
  width: 100vw;
  height: 100vh;
}

.container-fluid .row .text{
  font-size: 40px;
}

.container-fluid .row input{
  height: 50px;
  width: 400px;
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 20px;
  border-radius: 15px;
  font-family: Aria;
}



.czcionka{
  font-family: Open Sans;
  font-size: 30px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.film{
  width: 100%;
  height: auto;
}
